/* TESTIMONIALS */
  
#testimonials {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  #testimonials .section-subheading {
    margin-bottom: 2rem;
  }
  
  .testimonials-wrapper {
    position: relative;
    width: 70%;
  }
  
  .quotes {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .testimonial_title {
    font-size: 2rem;
    padding-left: 6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .testimonial_text {
    opacity: 0.8;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
  }
  
  .testimonials_img img {
    max-height: 500px;
  }
  
  .testimonial_author {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .testimonial_author h3 {
    margin: 0;
  }
  
  .testimonial_author p {
    color: rgb(95, 95, 95);
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .testimonial_author::before {
    content: "";
    width: 15px;
    transform: translateY(-70%);
    border-bottom: #111111;
  }
  
  .testimonial-navigation {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .testimonial-navigation span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .testimonial-navigation span.active {
    width: 30px;
  }

  @media screen and (max-width: 768px) {

    /* TESTIMONIALS */
  
    .testimonials_img {
      display: none;
    }
    .testimonials_wrapper {
      width: 100px;
    }
  }