.section-team{
  position: relative;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.container-team {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center-team {
  text-align: center;
}

.section-heading-team.left {
  margin-right: auto;
}

.section-heading-team.right {
  margin-left: auto;
}
  
.members {
  display: flex;
  gap: 3rem;
}
  
.member:nth-child(2),
.member:nth-child(4) {
  margin-top: 5rem;
}
  
.member_img {
  margin-bottom: 1rem;
}
  
.member_content h1 {
  margin-bottom: 0.25rem;
}
  
.member_content p {
  opacity: 0.4;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  
  .members {
    flex-direction: column;
    text-align: center;
  }
  .member {
    margin: 0 !important;
  }
  .member_img img {
    max-width: 300px;
  }
}
  