.section-contact{
  position: relative;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.container-contact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-subheading-contact {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-heading-contact {
  font-size: 3rem;
  max-width: 600px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.text-center-contact {
  text-align: center;
}

.section-heading-contact.left {
  margin-right: auto;
}

.section-heading-contact.right {
  margin-left: auto;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5rem;
}
  
.contact_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.contact_form input,
.contact_form textarea {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  
.contact_form textarea {
  resize: vertical;
}

.contact_details {
  width: 50%;
}

.contact_details .text {
  font-size: 0.9rem;
  color: #2e2e2e;
  margin-bottom: 2rem;
}

.contact_details .details-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_details .detail-contact {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.detail_icon-contact {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  background: #fe6686;
}

.detail-contact:nth-child(2) .detail_icon-contact {
  background: #54d6a1;
}

.detail-contact:nth-child(3) .detail_icon-contact {
  background: #fe9a3f;
}

.detail_content-contact h3 {
  margin: 0;
  line-height: 1;
}

.detail_content-contact p {
  color: #747474;
  font-size: 0.9rem;
}

.button-contact {
  display: inline-block;
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.3s;
  color: #fff;
  background-color: #a03dd1;
}

.button-contact:hover{
  background-color: #fff;
  border: 1px solid #a03dd1;
  color: black;
}

@media screen and (max-width: 768px) {
  
  .contact {
    flex-direction: column;
  }
  .contact_form,
  .contact_details {
    width: 100%;
  }
}