.container-about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-center-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-about {
  flex-direction: column;
}

.section-subheading-about {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-heading-about {
  font-size: 3rem;
  max-width: 600px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.text-center-about {
  text-align: center;
}

.features-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
  
.feature-about {
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid ;
}
  
.feature_icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.icon1{
  color: #fe6786;
}

.icon2{
  color: #5cd8a5;
}

.icon3{
  color: #fea95b;
}
  
.features_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
  
.feature_text {
  font-size: 0.9rem;
}
  
.about_details {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}
  
.about_details-content {
  width: 50%;
}
  
.about_details-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
  
.about_details-content p {
  font-size: 0.9rem;
  font-weight: 400;
}
  
.about_details-content .btn {
  margin-top: 1rem;
}
  
.about_details-img {
  width: 50%;
}

  /* .btn {
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
  } */
  
.button-about .btn-primary {
  background-color: #c04ae2;
  color: #fff;
}
  
.button-about .btn-primary:hover {
  background-color: #a03dd1;
}

@media screen and (max-width: 768px) {
  
  .features-about {
    grid-template-columns: repeat(1fr);
  }

  .feature-about {
    padding: 1rem;
  }

  .about_details {
    flex-direction: column;
  }

  .about_details-content,
  .about_details-img {
    width: 100%;
  }
}